In [27]:
import pandas as pd
import matplotlib as plt
import regex as re

In [3]:
df=pd.read_csv('/Users/eshantarneja/Documents/DataSets/nbaSalary/freeAgents/2019.csv')
df.head()

,Rk,Player,Pos,Age,Type,OTm,2018-19 Stats,WS,NTm,Terms,Notes
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Kevin Durant\duranke01,F-G,31-365,UFA,GSW,26.0 Pts 6.4 Reb 5.9 Ast,11.5,BRK,Signed 4-yr $164.25M contract with GSW as part...,NaN
2,2.0,Nikola Vučević\vucevni01,C,29-340,UFA,ORL,20.8 Pts 12.0 Reb 3.8 Ast,10.1,ORL,Signed 4-yr $100M contract,NaN
3,3.0,Kawhi Leonard\leonaka01,F,29-091,UFA,TOR,26.6 Pts 7.3 Reb 3.3 Ast,9.5,LAC,Signed 3-yr $103.13M contract,NaN
4,4.0,Kyrie Irving\irvinky01,G,28-189,UFA,BOS,23.8 Pts 5.0 Reb 6.9 Ast,9.1,BRK,Signed 4-yr $136.49M contract,NaN

In [13]:
df.loc[2,'Player'].split('\\')
type(df.loc[2,'Player'])

str

In [16]:
df[['Player', 'ID']]=df.Player.apply(lambda x: pd.Series(str(x).split('\\')))

In [17]:
df.head()

,Rk,Player,Pos,Age,Type,OTm,2018-19 Stats,WS,NTm,Terms,Notes,ID
0,NaN,nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Kevin Durant,F-G,31-365,UFA,GSW,26.0 Pts 6.4 Reb 5.9 Ast,11.5,BRK,Signed 4-yr $164.25M contract with GSW as part...,NaN,duranke01
2,2.0,Nikola Vučević,C,29-340,UFA,ORL,20.8 Pts 12.0 Reb 3.8 Ast,10.1,ORL,Signed 4-yr $100M contract,NaN,vucevni01
3,3.0,Kawhi Leonard,F,29-091,UFA,TOR,26.6 Pts 7.3 Reb 3.3 Ast,9.5,LAC,Signed 3-yr $103.13M contract,NaN,leonaka01
4,4.0,Kyrie Irving,G,28-189,UFA,BOS,23.8 Pts 5.0 Reb 6.9 Ast,9.1,BRK,Signed 4-yr $136.49M contract,NaN,irvinky01

In [51]:
test=df.Terms[1]
type(test)
print(test)

Signed 4-yr $164.25M contract with GSW as part of sign-and-trade

In [52]:
re.findall("Signed\s(\d-yr)\s(\$.+M)\scontract(.*)"
           , test)



# Signed\s(\d-yr)\s(\$.+M)\scontract(.+)

[('4-yr', '$164.25M', ' with GSW as part of sign-and-trade')]

In [53]:
pattern="Signed\s(\d-yr)\s(\$.+M)\scontract(.*)"
df.Terms.apply(lambda x: re.findall(pattern, str(x)))

0                                                     []
1      [(4-yr, $164.25M,  with GSW as part of sign-an...
2                                      [(4-yr, $100M, )]
3                                   [(3-yr, $103.13M, )]
4                                   [(4-yr, $136.49M, )]
5      [(4-yr, $140.79M,  with PHI as part of sign-an...
6                                      [(4-yr, $109M, )]
7      [(4-yr, $140.79M,  with CHO as part of sign-an...
8                                      [(5-yr, $180M, )]
9                                    [(4-yr, $39.96M, )]
10                                   [(3-yr, $43.63M, )]
11                                    [(4-yr, $73.1M, )]
12                                                    []
13                                                    []
14                                      [(4-yr, $52M, )]
15     [(4-yr, $85M,  with MIL as part of sign-and-tr...
16                                   [(5-yr, $177.5M, )]
17                                   [(3-yr, $62.10M, )]
18                                      [(3-yr, $15M, )]
19                                      [(2-yr, $30M, )]
20                                     [(2-yr, $8.2M, )]
21                                    [(2-yr, $26.5M, )]
22                                   [(3-yr, $29.16M, )]
23                                    [(2-yr, $9.77M, )]
24                                      [(3-yr, $25M, )]
25                                    [(2-yr, $9.77M, )]
26                                    [(3-yr, $31.5M, )]
27                                                    []
28                                      [(2-yr, $20M, )]
29     [(4-yr, $117.32M,  with BRK as part of sign-an...
                             ...
258                                                   []
259                                   [(2-yr, $3.14M, )]
260                                   [(1-yr, $1.73M, )]
261                                                   []
262                                                   []
263                                                   []
264                                                   []
265                                                   []
266                                                   []
267                                                   []
268                                                   []
269                                                   []
270                                                   []
271                                   [(1-yr, $2.56M, )]
272                                                   []
273                                                   []
274                                                   []
275                                                   []
276                                                   []
277                                                   []
278                                                   []
279                                                   []
280                                                   []
281                                 [(5-yr, $158.25M, )]
282                                                   []
283                                                   []
284                                   [(2-yr, $3.38M, )]
285                                                   []
286                                                   []
287                                                   []
Name: Terms, Length: 288, dtype: object

In [56]:
test=df.Terms[283]

In [58]:
re.findall('Signed\s(\d-yr)\s(\$.+M)\scontract(.*)|Signed\sExhibit\s(\d+)\scontract',test)

[('', '', '', '10')]